<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informational email</title>
</head>
<body>
    <p>HI <strong>{{ username }}</strong>, 
        this message is only to notify you that your transaction to the address <strong>{{ address }}</strong> was received successfully 
        and your sale is now active.
    </p>
    <br>
    <br>
    <p>
        Share your post with this link <strong>{{ shareLink }}</strong> or view your post at this link <strong>{{ viewLink }}</strong>.
    </p>
</body>
</html>
