<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporting Email</title>
</head>
<body>
  <p>
    Hello {{ reportingUser }}, we are very sorry that you had a bad experience with one of our users,
    we will review your case as soon as possible and you will be notified about the status of this operation {{ url }}.
  </p>
  <br>
  <p>Do not panic, we have everything under control and we will solve it in less than 24 hours.</p>
  <br>
  <p>
    cryptoexchange team.
  </p>
</body>
</html>